.custom-tool-wrapper{
  width: 100%;
  float: left;

  .MuiTextField-root{
    float: left;
    width: 30%;
    margin: 2rem;
  }

  #select-container{
    float: right;
    width: 15%;
    margin: 0.9rem 5rem 1rem 2rem;

    .MuiOutlinedInput-root{
      width: 100%;
    }
  }
}